

.container1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.container_div {
  display: flex;
  justify-content: space-around;
}

.div__block {
  width: 200px;
  height: 200px;
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 300px;
  max-height: 300px;
}

.col-sm-6{
    padding: 20px;
}